brotlipy==0.7.0
conda==4.9.2
conda-package-handling==1.7.2
dlib==19.21.0
Flask==1.1.2
imutils==0.5.3
matplotlib==3.3.3
olefile==0.46
pandas==1.1.4
pipdeptree==1.0.0
pylint==2.6.0
pyOpenSSL==19.1.0
PySocks==1.7.1
scikit-learn==0.23.2
setuptools==50.3.1.post20201107
tornado==6.1
tqdm==4.51.0
wheel==0.35.1
