<div id="container_demo" >
	<a class="hiddenanchor" id="toregister"></a>
	
		<div id="register" class="animate form">
			<form  action="/getstname" method = "post" enctype="multipart/form-data"> 
				<h1> Daily Upload Page </h1> 
				<p> Please upload a picture to mark attendance for your attendance today</p>
				
                                <p>
                                        <label for="files">Select files:</label>
                                        <input type="file" name="files[]" multiple="true" autocomplete="off" required><br><br>
				                </p>
				<p class="signin button"> 
				
					<input type="submit" value="Upload" /> 
				</p>
			</form>
		</div>
		
	</div>
</div>
