<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel = "stylesheet" href = "{{url_for('static', filename='Styles.css')}}"/>
</head>

<div class = "header">
<article>
  <header>
    <h1>Register Form For Students</h1>
  </header>
</article>
</div>
<body>
<div id="container_demo" >
	<a class="hiddenanchor" id="toregister"></a>
	
		<div id="register" class="animate form">
			<form  action="/Register" method = "post" enctype="multipart/form-data"> 
				<p> 
					<label for="usernamesignup" class="uname" data-icon="u">Your name</label>
					<input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="Enter your name" />
				</p>
				<p> 
					<label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
					<input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="myusername@mail.com"/> 
				</p>
				<p> 
					<label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
					<input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. T@re1234"/>
				</p>
				<p> 
					<label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
					<input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. T@re1234"/>
                 </p>
                                <p>
                                        <label for="files">Select files:</label>
                                        <input type="file" name="files[]" multiple="true" autocomplete="off" required><br><br>
				                </p>
				<p class="submit"> 
				
					<input type="submit" value="Register" /> 
				</p>
				<p class="change_link">  
					Already registered ?
					<a href="{{ url_for('login') }}" class="to_register"> Login </a>
				</p>
			</form>
		</div>
		
	</div>
</div>
</body>
</html>
